.menu {
    -webkit-text-size-adjust: 100%;
    font-size: 1rem;
    line-height: 1.6;
    box-sizing: border-box;
    display: block;
    position: relative;
    background-image: none;
}
.menu ul {
    -webkit-text-size-adjust: 100%;
    font-size: 1rem;
    line-height: 1.6;
    box-sizing: border-box;
    position: relative;
    width: 1140px !important;
    min-height: 72px;
    margin: 0 auto;
    pointer-events: none;
}
.menu .logo {
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    text-transform: inherit;
    font-style: inherit;
    font-weight: inherit;
    text-decoration: none;
    border: 0 none transparent;
    outline-width: 0;
    background-color: transparent;
    position: relative;
    object-fit: cover;
    vertical-align: middle;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    color: #111;
    display: table;
    white-space: nowrap;
    width: 63px;
    height: 32px;
    margin: 20px auto 0 0;
    pointer-events: initial;
}
.menu .logo img {
    -webkit-text-size-adjust: 100%;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    text-transform: inherit;
    font-style: inherit;
    font-weight: inherit;
    color: #111;
    white-space: nowrap;
    pointer-events: initial;
    box-sizing: border-box;
    border-style: none;
    width: 100%;
    height: 100%;
    display: block;
}
.menu .nav ul {
    -webkit-text-size-adjust: 100%;
    white-space: nowrap;
    line-height: 1;
    text-align: left;
    pointer-events: initial;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}
.menu .nav ul li {
    -webkit-text-size-adjust: 100%;
    white-space: nowrap;
    line-height: 1;
    pointer-events: initial;
    list-style: none;
    font-size: 1rem;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    height: 100%;
    margin-right: 2px;
}

.menu .nav ul li span {
    -webkit-text-size-adjust: 100%;
    pointer-events: initial;
    list-style: none;
    box-sizing: border-box;
    display: block;
    white-space: nowrap;
    font-style: inherit;
    font-weight: inherit;
    border: 0 none transparent;
    outline-width: 0;
    background-color: transparent;
    margin: 0;
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    text-transform: inherit;
    color: #1a1a1a !important;
    padding: 10px 100px;
}

.menu .nav::before {
    content: "";
    display: table;
} 
.menu .nav::after {
    content: "";
    display: table;
}
.menu::before {
    content: "";
    display: table;
}
.menu::after {
    content: "";
    display: table;
}