.shop-categories {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.shop-category {
    width: 100px;
    height: 200px;
    justify-content: center;
}
.shop-category-header {
    width: 100px;
    height: 100px;
}
.shop-category-header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /* border: 1px solid black; */
}

.shop-category-body {
    text-align: center;
}