.slide {
    --bg-image-alpha: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background: var(--bg);
    position: relative;
    display: block;
    
    background-image: linear-gradient(rgba(0, 0, 0, var(--bg-image-alpha) ), rgba(0, 0, 0, var(--bg-image-alpha))), var(--bg-image);
}
.slide > * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.slide .centertext {
    -webkit-text-size-adjust: 100%;
    font-size: 1rem;
    line-height: 1.6;
    border: #999999 3px solid;
    color: #111111;
    stroke: none;
    text-align: left;
    pointer-events: initial;
    box-sizing: border-box;
    position: relative;
    flex: 1;
    width: fit-content;
    max-width: 100%;
    transition-duration: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
}
.slide .centertext h2 {
    -webkit-text-size-adjust: 100%;
    stroke: none;
    pointer-events: initial;
    box-sizing: border-box;
    color: inherit;
    font-family: 'Roboto', sans-serif;
    flex-shrink: 0;
    text-align: center;
    word-wrap: break-word;
    padding: 0;
    position: relative;
    font-weight: 700;
    line-height: 1.3;
    font-size: 3.75rem;
}